<div class="question">
  <div class="question-content">
    <div class="question-count text-lead">
      <p>У пользователя <%= correct_of_declination(@questions.count) %></p>
    </div>
  </div>
</div>
